duck.*
node_modules/
node_rrd/
autohome.log
test.py
create-rrd.sh
cert.js
.well-known/
.vscode/
package-lock.json
.gitignore
settings.json
notes.txt
test.sh
.env
backups/
rrdtool/
autohome.log
*.png
sensor_chart.png
images/*.png
