duck.*
node_modules/
node_rrd/
autohome.log
test.py
create-rrd.sh
cert.js
.well-known/
.vscode/
package-lock.json
.gitignore
settings.json
notes.txt
test.sh
.env
backups/
rrdtool/
*1d*.png
*1w*.png
*1m*.png
*1y*.png
sensor_chart.png
temp_g*.png